################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LanchesMac/FileContentIndex/3f58661b-84f8-452f-8909-7268f3344bce.vsidx
