<br />

<img src="~/images/negado1.jpg" alt="" class="marginTop1" />
<div class="container">
        <p class="fs-3"> Acesso negado</p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a página</a>

</div>