<br />

<img src="~/images/adminarea.jpg" alt="Area do Admnistrador" class="marginTop1" />
<div class="container">
    <div class="jumbotron">
        <p class="fs-3"> Essa é a Área do Admnistrador</p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a página</a>

</div>