<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale Conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>Se voce tem alguma dúvida ou sugestão, fale conosco</p>

        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5>
                <email endereco="macoratti@yahoo.com" conteudo="Enviar um email"></email>
            </h5>
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>


            <h5>(11) 9099-9999</h5>
            <br />

            <span>
                <img src="~/images/Home-iconred.png" />
            </span>

            <h5>Av. Juscelino Kubitche 1000 - 03540-000 - São Paulo</h5>

        </p>


    </div>


</div>